<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Listagem de restaurantes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  </head>
  <body>
      @each(key in restaurant)
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nome</th>
          <th scope="col">Nome social</th>
          <th scope="col">Telefone</th>
          <th scope="col">Email</th>
          <th scope="col">Email secundário</th>
          <th scope="col">Cidade</th>
          <th scope="col">CEP</th>
          <th scope="col">Complemento</th>
          <th scope="col">Especialidade</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">{{key.id}}</th>
          <td>{{upperFirst(key.name)}}</td>
          <td>{{upperFirst(key.social_reason)}}</td>
          <td>{{key.phone}}</td>
          <td>{{key.email}}</td>
          <td>
            @if(key.secondary_email === null)
              <span style="color:red">Não informado</span>
            @else
              {{key.secondary_email}}
            @endif
          </td>
          <td>{{key.city}}</td>
          <td>{{key.zipcode}}</td>
          <td>
            @if(key.complement === null)
              <span style="color:red">Não informado</span>
            @else
              {{key.complement}}
            @endif
          </td>
          <td>Comida {{key.specialty}}</td>
        </tr>
      </tbody>
    </table>
    @endeach
  </body>
</html>
